TESTAPI/NodeRedDashToTestAPI.json
[{"id":"b5b1a30.8101c6","type":"tab","label":"Dashboards-SOA","disabled":false,"info":""},{"id":"f825f4d4.9dc9d","type":"ui_button","z":"b5b1a30.8101c6","name":"","group":"acd5f7d1.24f048","order":1,"width":0,"height":0,"passthru":false,"label":"Use Case 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":240,"wires":[["21e0d87e.fb1498"]]},{"id":"21e0d87e.fb1498","type":"http request","z":"b5b1a30.8101c6","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:8081/Use_Case_1/2/200","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":240,"wires":[["96d1d71e.f53eb8","fa8844a4.fe9388"]]},{"id":"2de69966.76ab2e","type":"ui_gauge","z":"b5b1a30.8101c6","name":"Alarm_Display","group":"5d57b870.14da5","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ALARM","format":"{{msg.payload}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.2","seg2":"0.5","x":780,"y":320,"wires":[]},{"id":"96d1d71e.f53eb8","type":"ui_text","z":"b5b1a30.8101c6","group":"5d57b870.14da5","order":2,"width":0,"height":0,"name":"Request Display","label":"","format":"{{msg.payload}}","layout":"row-center","x":510,"y":240,"wires":[]},{"id":"34d2a369.afdc3c","type":"function","z":"b5b1a30.8101c6","name":"bool_to_int","func":"if (msg.payload.state == \"OFF\")\n{\n    msg.payload = 0;\n    return msg;\n}\nelse\n{\n    msg.payload = 1;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["2de69966.76ab2e","1a340f7f.855471"]]},{"id":"92f5b6c.c830d48","type":"http request","z":"b5b1a30.8101c6","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8000/historic","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":460,"wires":[["dd35f09b.139b8","4bb62e34.2b5d9"]]},{"id":"fa8844a4.fe9388","type":"json","z":"b5b1a30.8101c6","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":320,"wires":[["4d992634.356c88","a5bf502b.eaf02","34d2a369.afdc3c"]]},{"id":"a5bf502b.eaf02","type":"ui_text","z":"b5b1a30.8101c6","group":"acd5f7d1.24f048","order":2,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.date}}","layout":"row-spread","x":570,"y":400,"wires":[]},{"id":"4d992634.356c88","type":"debug","z":"b5b1a30.8101c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":280,"wires":[]},{"id":"1a340f7f.855471","type":"debug","z":"b5b1a30.8101c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":380,"wires":[]},{"id":"dd35f09b.139b8","type":"ui_text","z":"b5b1a30.8101c6","d":true,"group":"966e0fa4.1052","order":1,"width":0,"height":0,"name":"","label":"Historic_print","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":460,"wires":[]},{"id":"db267eb9.5fe32","type":"ui_button","z":"b5b1a30.8101c6","name":"","group":"acd5f7d1.24f048","order":3,"width":0,"height":0,"passthru":false,"label":"Historic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":400,"wires":[["92f5b6c.c830d48"]]},{"id":"4bb62e34.2b5d9","type":"debug","z":"b5b1a30.8101c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":520,"wires":[]},{"id":"8db553b3.99288","type":"ui_button","z":"b5b1a30.8101c6","name":"","group":"acd5f7d1.24f048","order":1,"width":0,"height":0,"passthru":false,"label":"Use Case 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":580,"wires":[["318bf13a.609b4e"]]},{"id":"318bf13a.609b4e","type":"http request","z":"b5b1a30.8101c6","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:8081/Use_Case_2/2/200","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":580,"wires":[["ad8adfdf.9522","f1da356d.685478"]]},{"id":"73a0599f.c9a9a8","type":"ui_gauge","z":"b5b1a30.8101c6","name":"Window_Status","group":"5d57b870.14da5","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"WINDOW","format":"{{msg.payload}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.2","seg2":"0.5","x":780,"y":660,"wires":[]},{"id":"ad8adfdf.9522","type":"ui_text","z":"b5b1a30.8101c6","group":"5d57b870.14da5","order":2,"width":0,"height":0,"name":"Request Display","label":"","format":"{{msg.payload}}","layout":"row-center","x":600,"y":580,"wires":[]},{"id":"eafdde69.c3704","type":"function","z":"b5b1a30.8101c6","name":"bool_to_int","func":"if (msg.payload.state == \"CLOSED\")\n{\n    msg.payload = 0;\n    return msg;\n}\nelse\n{\n    msg.payload = 1;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":590,"y":660,"wires":[["73a0599f.c9a9a8"]]},{"id":"f1da356d.685478","type":"json","z":"b5b1a30.8101c6","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":660,"wires":[["50d62a98.92c244","eafdde69.c3704","2c35189d.99a268"]]},{"id":"50d62a98.92c244","type":"debug","z":"b5b1a30.8101c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":620,"wires":[]},{"id":"2c35189d.99a268","type":"ui_text","z":"b5b1a30.8101c6","group":"acd5f7d1.24f048","order":2,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.date}}","layout":"row-spread","x":570,"y":700,"wires":[]},{"id":"acd5f7d1.24f048","type":"ui_group","z":"","name":"useCases","tab":"31205484.6bc39c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d57b870.14da5","type":"ui_group","z":"","name":"ResultsTexts","tab":"31205484.6bc39c","order":2,"disp":true,"width":10,"collapse":false},{"id":"966e0fa4.1052","type":"ui_group","z":"","name":"historic","tab":"31205484.6bc39c","order":3,"disp":true,"width":"6","collapse":false},{"id":"31205484.6bc39c","type":"ui_tab","z":"","name":"SOA_Dashboards","icon":"dashboard","order":1,"disabled":false,"hidden":false}]