Node_Red/UI/flows.json
[{"id":"57d47c43.8a0944","type":"tab","label":"Dashboards-SOA","disabled":false,"info":""},{"id":"98950de8.e6e5a","type":"ui_form","z":"57d47c43.8a0944","name":"Dashboard Sign-In","label":"","group":"5746b2b4.7cbfbc","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":140,"wires":[["5a8a4f66.656ca","4b0d4e59.be0ac","b8a648ed.b26518"]]},{"id":"d5567edd.1eecb","type":"debug","z":"57d47c43.8a0944","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":698.0000915527344,"y":101.00000762939453,"wires":[]},{"id":"3d03bee2.44d242","type":"comment","z":"57d47c43.8a0944","name":"Sign-In Section","info":"","x":120,"y":40,"wires":[]},{"id":"5a8a4f66.656ca","type":"function","z":"57d47c43.8a0944","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":329.00000762939453,"y":109.99999618530273,"wires":[["d5567edd.1eecb"]]},{"id":"4b0d4e59.be0ac","type":"function","z":"57d47c43.8a0944","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":342.0000457763672,"y":155.0000057220459,"wires":[["5d46c29.a0f713c"]]},{"id":"5d46c29.a0f713c","type":"switch","z":"57d47c43.8a0944","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":511.0000419616699,"y":185.9999885559082,"wires":[["6c662646.11e088"],["ebe81704.c8eb38"],["51ce55ad.2e7fcc"],["cf4c09c3.2050d8"]]},{"id":"6c662646.11e088","type":"function","z":"57d47c43.8a0944","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":680.999885559082,"y":141.99999809265137,"wires":[["b40610a8.241b2"]]},{"id":"ebe81704.c8eb38","type":"function","z":"57d47c43.8a0944","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":701.9998931884766,"y":179,"wires":[["b4f6e289.13859"]]},{"id":"51ce55ad.2e7fcc","type":"function","z":"57d47c43.8a0944","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":702.9999618530273,"y":216.0000123977661,"wires":[["b4f6e289.13859"]]},{"id":"b40610a8.241b2","type":"ui_ui_control","z":"57d47c43.8a0944","name":"Go to Sensor/History Group","x":968.0000686645508,"y":141.9999942779541,"wires":[[]]},{"id":"b4f6e289.13859","type":"ui_toast","z":"57d47c43.8a0944","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":967.9999732971191,"y":199,"wires":[[]]},{"id":"c145e1a.bd4462","type":"comment","z":"57d47c43.8a0944","name":"Session Management - Signout","info":"","x":169.5,"y":299.00000762939453,"wires":[]},{"id":"60bc6e22.99aa4","type":"switch","z":"57d47c43.8a0944","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":340,"wires":[["37ae05ab.12b7aa"],["fe4b1c04.6afc5"]]},{"id":"3217d0b5.522ce","type":"ui_toast","z":"57d47c43.8a0944","d":true,"position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Signout ","name":"SignOut Dialog","x":1100,"y":400,"wires":[[]]},{"id":"73b1100a.09676","type":"comment","z":"57d47c43.8a0944","name":"Sensor Data Collection","info":"","x":149.00000762939453,"y":484.00000190734863,"wires":[]},{"id":"7bc79dfd.cf1ac4","type":"inject","z":"57d47c43.8a0944","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":121.5,"y":561.0000095367432,"wires":[["39d9006f.12e93"]]},{"id":"8bc47307.da313","type":"comment","z":"57d47c43.8a0944","name":"MQTT ? CoAP?","info":"Expecting data from the actaul sensors.","x":296.50000762939453,"y":520.9999942779541,"wires":[]},{"id":"7261030b.047c3c","type":"ui_text","z":"57d47c43.8a0944","group":"e34e7c41.c875e","order":0,"width":0,"height":0,"name":"Label Display","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1020.4999923706055,"y":647.0001277923584,"wires":[]},{"id":"39d9006f.12e93","type":"function","z":"57d47c43.8a0944","name":"Decode MySensor Message","func":"\nvar mySensorsMessage = {}\nvar newPayload = {};\nvar timestamp = new Date();\n\nnewPayload.nodeId  =  3;\nnewPayload.type =  Math.floor( Math.random() * Math.floor(2));  // 0 or 1\nif ( newPayload.type === 0 /* temperature */ ) newPayload.value   =  Math.floor( Math.random() * Math.floor(30)) + 10; // 10 - 39\nelse newPayload.value   =  Math.floor( Math.random() * Math.floor(40)) + 40; // 40 - 79\n\nmsg.payload = newPayload; \n\nreturn msg;","outputs":1,"noerr":0,"x":317.50000762939453,"y":562.0000171661377,"wires":[["19ba495.45689b7","dbbd1c7d.34eac"]]},{"id":"19ba495.45689b7","type":"function","z":"57d47c43.8a0944","name":"Filter : temperature","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 0) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Temperature\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":534.5000534057617,"y":518.0000200271606,"wires":[["e4ae99b9.f39428","5eccf8ec.627c48","14e5dd76.5b6893","1c01966a.e34b3a"]]},{"id":"e4ae99b9.f39428","type":"ui_gauge","z":"57d47c43.8a0944","name":"Gauge : Temperature","group":"e34e7c41.c875e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature DHT22","label":"MySensors v2","format":"{{value}}°C","min":0,"max":"50","colors":["#66ccff","#ff8000","#ca3838"],"seg1":"","seg2":"","x":784.5000076293945,"y":503.9999828338623,"wires":[]},{"id":"dbbd1c7d.34eac","type":"function","z":"57d47c43.8a0944","name":"Filter : humidity","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 1) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Humidity\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":520.5001068115234,"y":625.0000591278076,"wires":[["f091559f.150e68","5eccf8ec.627c48","14e5dd76.5b6893"]]},{"id":"f091559f.150e68","type":"ui_gauge","z":"57d47c43.8a0944","name":"Gauge : Humidity","group":"e34e7c41.c875e","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity DHT22","label":"MySensors v2","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","x":776.500072479248,"y":541.0000286102295,"wires":[]},{"id":"5eccf8ec.627c48","type":"function","z":"57d47c43.8a0944","name":"Attention : temperature & humidity","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temerature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"noerr":0,"x":780.4999923706055,"y":648.0000877380371,"wires":[["7261030b.047c3c"]]},{"id":"14e5dd76.5b6893","type":"ui_chart","z":"57d47c43.8a0944","name":"History : Temperature & Humidity","group":"4f1389f6.e726e8","order":1,"width":"6","height":"9","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"0","ymax":"80","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":827.5000305175781,"y":579.0001049041748,"wires":[[],[]]},{"id":"f66e9b78.98c948","type":"ui_ui_control","z":"57d47c43.8a0944","name":"Stay in Sensor Group","x":880,"y":360,"wires":[[]]},{"id":"37ae05ab.12b7aa","type":"function","z":"57d47c43.8a0944","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    hide : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["f66e9b78.98c948"]]},{"id":"d2123c3e.ce7cb","type":"ui_ui_control","z":"57d47c43.8a0944","name":"Return to Signin Group","x":880,"y":400,"wires":[["3217d0b5.522ce"]]},{"id":"1c01966a.e34b3a","type":"debug","z":"57d47c43.8a0944","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":744.0590744018555,"y":614.6424465179443,"wires":[]},{"id":"b8a648ed.b26518","type":"debug","z":"57d47c43.8a0944","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":311.5000419616699,"y":220.5347557067871,"wires":[]},{"id":"969d9864.dd8b98","type":"ui_toast","z":"57d47c43.8a0944","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":951.1111793518066,"y":252.1215353012085,"wires":[[]]},{"id":"cf4c09c3.2050d8","type":"function","z":"57d47c43.8a0944","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":692.4443283081055,"y":253.12152862548828,"wires":[["969d9864.dd8b98"]]},{"id":"fe4b1c04.6afc5","type":"function","z":"57d47c43.8a0944","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \n            \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["d2123c3e.ce7cb"]]},{"id":"e4d88c8d.43056","type":"status","z":"57d47c43.8a0944","name":"Status of signout button","scope":["3217d0b5.522ce"],"x":140,"y":340,"wires":[["60bc6e22.99aa4"]]},{"id":"61e69706.673138","type":"ui_button","z":"57d47c43.8a0944","name":"","group":"4f1389f6.e726e8","order":0,"width":0,"height":0,"passthru":false,"label":"Signout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":400,"wires":[["8e18d11f.ea72d"]]},{"id":"8e18d11f.ea72d","type":"debug","z":"57d47c43.8a0944","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":400,"wires":[]},{"id":"5746b2b4.7cbfbc","type":"ui_group","z":"","name":"Signin","tab":"23b90f20.a5a01","order":1,"disp":true,"width":"6","collapse":false},{"id":"e34e7c41.c875e","type":"ui_group","z":"","name":"SensorData","tab":"23b90f20.a5a01","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f1389f6.e726e8","type":"ui_group","z":"","name":"History","tab":"23b90f20.a5a01","order":3,"disp":true,"width":"6","collapse":false},{"id":"23b90f20.a5a01","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
