UI/SOA_dashboards.json
[{"id":"b5b1a30.8101c6","type":"tab","label":"Dashboards-SOA","disabled":false,"info":""},{"id":"3a339721.34cc4","type":"http request","z":"b5b1a30.8101c6","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8081/Use_Case_1","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":380,"wires":[["d3685783.e572b"]]},{"id":"9e214f26.05f48","type":"ui_button","z":"b5b1a30.8101c6","name":"","group":"acd5f7d1.24f048","order":2,"width":0,"height":0,"passthru":false,"label":"Use Case 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":380,"wires":[["3a339721.34cc4"]]},{"id":"d3685783.e572b","type":"ui_text","z":"b5b1a30.8101c6","group":"5d57b870.14da5","order":1,"width":0,"height":0,"name":"Request Display","label":"","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":380,"wires":[]},{"id":"f825f4d4.9dc9d","type":"ui_button","z":"b5b1a30.8101c6","name":"","group":"acd5f7d1.24f048","order":1,"width":0,"height":0,"passthru":false,"label":"Use Case 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":240,"wires":[["21e0d87e.fb1498"]]},{"id":"21e0d87e.fb1498","type":"http request","z":"b5b1a30.8101c6","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8081/Use_Case_1","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":240,"wires":[["96d1d71e.f53eb8","34d2a369.afdc3c"]]},{"id":"96d1d71e.f53eb8","type":"ui_text","z":"b5b1a30.8101c6","group":"5d57b870.14da5","order":3,"width":0,"height":0,"name":"Request Display","label":"","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":240,"wires":[]},{"id":"34d2a369.afdc3c","type":"function","z":"b5b1a30.8101c6","name":"bool_to_int","func":"if (msg.payload.includes(\"not triggered\"))\n{\n    msg.payload = \"0\";\n    return msg;\n}\nelse\n{\n    msg.payload = \"1\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["2de69966.76ab2e"]]},{"id":"2de69966.76ab2e","type":"ui_gauge","z":"b5b1a30.8101c6","name":"Alarm_Display","group":"5d57b870.14da5","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ALARM","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.2","seg2":"0.5","x":690,"y":280,"wires":[]},{"id":"acd5f7d1.24f048","type":"ui_group","z":"","name":"useCases","tab":"31205484.6bc39c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d57b870.14da5","type":"ui_group","z":"","name":"ResultsTexts","tab":"31205484.6bc39c","order":2,"disp":true,"width":10,"collapse":false},{"id":"31205484.6bc39c","type":"ui_tab","z":"","name":"SOA_Dashboards","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
